# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

# Only development
*.log

# Firebase config
.runtimeconfig.json

# Config
config
